/*CURSOS*/
.cursosBox {
    flex-direction: column;
    margin: 5% 5% 5% 5%; }
    .cursosBox .row {
      padding-bottom: 3vw;
      background-color: #ffffe0;
      opacity: 1;
      background-image: radial-gradient($strongTomato 0.85px, transparent 0.85px), radial-gradient($strongTomato 0.85px, #ffffe0 0.85px);
      background-size: 34px 34px;
      background-position: 0 0, 17px 17px; }