* {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    box-sizing: border-box;
    transition: 2s;
  }
  
  $strongTomato: #e94444;
  $tomato: #fd6347;
  $lightTomato: #fc8975;
  $negrito: #3a4553;
  $lightNegrito: #3a455367;
  
  @mixin imgRedonda($ancho, $alto, $radio) {
    width: $ancho;
    height: $alto;
    border-radius: $radio;
    /**/
  }
  
  @mixin letra($fuente, $color, $size, $weight, $background) {
    font-family: $fuente;
    color: $color;
    font-size: $size;
    font-weight: $weight;
    background: $background;
  }
  
  body {
    background-color: lightyellow;
  }
  
  section {
    display: flex;
  }
  
  .marginPred {
    margin: 3vw;
  }
  
  .card {
    margin: 2vw 0vw 0vw 4.5vw;
  }
  
  h1 {
    font-family: "Dancing Script", cursive;
    font-size: 3.75vw;
  }
  
  a {
    @include letra('Alegreya Sans' sans-serif, $negrito, large, 400, none);
    text-decoration: none;
  }
  
  p {
    @include letra('Josefin Sans' sans-serif, $negrito, large, 350, none)
  }