*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    box-sizing: border-box;
    transition: 2s;
}



body {
    background-color: lightyellow;
}

h1 {
    -webkit-text-stroke: 0.75px black;
}

h4 {
    font-size: 2.5vw;
}

p {
    font-size: 1.5vw;
}

section {
    padding: 2rem;
    display: flex;
}

.marginPred {
    margin: 3vw;
}

.relleno {
    @extend .marginPred;
    padding: 2vw;
}

.columnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card {
    margin: 2vw 1vw 2vw 3vw;
}

/*COLORES*/
$tomato: #fd6347;
$strongTomato: #E94444;
$lightTomato: #fc8975;
$negrito: #3A4553;
$lightNegrito: #3a455367;


@mixin imgRedonda ($ancho, $alto, $radio) {
    width: $ancho;
    height: $alto;
    border-radius: $radio;
}