/*HEADER*/

header {
    margin: 1vw;
    h1 {
        font-family: "Dancing Script", cursive;
      }
}
.logo {
    padding: 1.75vw;
    border: $strongTomato 10px;
    border-style: double;
    border-radius: 100%;
    display: flex;
    align-items: center;
}
.logo li {
    padding: 0%;
    display: inline;
}
.logo h1 {
    color: $negrito;
    margin: 0px;
    padding-right: 1vw;
}

.ulHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 1rem 0rem 1rem 0rem;
    a {
        font-size: large;
    }
}

.liHeader {
    display: inline;
    padding: 0.5rem 2.5rem 0.5rem 2.5rem;
}