/*MEDIA*/
@media screen and (max-width: 922px) {
    .home {
        min-height: 0;
        margin: 0;
        background-size: none;
        border-radius: 0;
    }

    .liHeader {
        margin: 0vw 2vw 0vw 2vw;
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    .footerItems {
        margin: 3%;
    }

    section {
        flex-direction: column;
    }

    .ulHeader a {
        font-size: medium;
    }

    .footerItems {
        font-size: medium;
    }

    .sobreNosotros {
        width: 60%;
        margin-right: 15%;
    }
    .condicionesClass p {
        font-size: medium;
    }

    .ultimasRecetasBox {
        width: 95%;
    }

    h1 {
        font-size: 4vw;
    }

    .homeText {
        width: 90%;
        h1 {
            font-size: 6vw;
        }
        p {
            font-size: 2.35vw;
        }
    }

    .sobreNosotros p{
        font-size: 2.35vw;
        }

        p{
            font-size: 2.35vw;
        }
}

@media screen and (max-width: 673px) {
    .ulHeader a {
        font-size: 2.2vw;
    }

    .logo {
        h1 {
            font-size: x-large;
        }
        li img {
            width: 6vw;
        }
    }

    h1 {
        font-size: xx-large;
    }

    .bioClass div p{
        font-size: medium;
    }
}

.card-title,
h6,
.card-text {
    font-size: medium;
}

.ultimasRecetasBox .card-title,
.ultimasRecetasBox .card-text {
    margin: 0vw;
}

@media screen and (max-width: 576px) {
    .ulHeader {
        a {
            font-size: 80%;
        }
    }

    .sobreNosotros p, .homeText P{
        font-size: 2.35vw;
        }

    p{
        font-size: medium;
    }
}