@media screen and (max-width: 922px) {
    section {
        padding: 2rem 2rem 0rem 2rem;
    }

    header nav ul .logo h1 {
        font-size    : 5vh;
        font-size    : 170%;
        font-weight  : 700;
        margin       : 0px;
        padding-right: 0px;
        text-align   : center;
    }

    .home {
        min-height: 0;
        margin: 0;
        background-size: none;
        border-radius: 0;
    }
}

@media screen and (max-width: 768px) {

    a {
        font-size: 90%;
    }

    .footerItems {
        margin: 3%;
    }

    section {
        flex-direction: column;
    }

    header nav ul li {
        padding: 0vh 2% 0vh 2%;
    }

    header nav ul .logo h1 {
        font-size  : 4vh;
        font-weight: 600px;
    }

    footer nav div a {
        font-size: 2vw;
    }

    .sobreNosotros {
        width       : 60%;
        margin-right: 15%;
    }
    #manosAmasando {
        @include imgRedonda (22vw, 22vw, 2vw);
    }

    .ultimasBox {
        width: 100%;
    }

    .pClass {
        width: 82%;
    }

}

@media screen and (max-width: 576px) {

    header nav ul {
        padding: 0;

        li {
            padding: 0vh 0.8vh 0vh 0.8vh;
        }

        a {
            font-size: 80%;
        }

        .logo h1 {
            font-size  : 3.8vh;
            font-weight: 500px;
        }
    }
    
}

/*card ultimas recetas*/
.ultimasBox {
    @media screen and (min-width: 992px) {
        .card-title {
            font-size: 100%;
        }

        .card-text {
            font-size: 52%;
        }
    }

    @media screen and (min-width: 1070px) {
        .card-text {
            font-size: 65%;
        }
    }

    @media screen and (min-width: 1200px) {
        .card-title {
            font-size: 1.5vw;
        }

        .card-text {
            font-size: 80%;
        }
    }
}