/*NOSOTROS*/
.bioClass {
    align-items: center;
    div p {
        font-size: x-large;
        font-style: italic;
    }
}

.redesSocialesCondiciones {
    flex-direction: column;
    width: min-content;
}
.redesSocialesCondiciones div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.condicionesClass {
    flex-direction: column;
    background-color: $lightTomato;
    border-radius: 1vh;
    padding: 5%;
    width: 100%;
    .container h1 {
        text-align: center;
        color: white;
        margin-top: 2vw;
        text-decoration: overline;
    }
}
