
.bioClass {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.logo-2 {
    @include imgRedonda (45%, 45%, 13%)
}

.condicionesClass {
    background-color: #fc8975;
    border-radius: 5vh;
    margin: 5%;
}
